@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

.App-header {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;    
    display: flex;  
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .headerTitle {
    width: 30%;
    margin-top: 13px;  
    margin-left: -50px;
    text-align: center;  
  }
  .headerNav {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-left: 500px;    
  } 
  .navigation {
    width: 100%; 
    margin-top: 20px;      
    margin-left: 30px;    
  }
   
  .navigation li {
    list-style: none;
    display: inline-block;
    padding-right: 30px;
    padding-left: 10px;
  }
  .navigation li a {
    text-decoration: none;
    color: #fff;    
  }
  .headerCart {    
    min-height: 100px;
    width: 600px;
    color: #fff;        
  }
  .headerCart ul li {
    list-style: none;
    display: flex;
    justify-content: space-between; 
  }  
  .countImg {    
    padding-left: 25px;
  }
  .cart-img {    
    width: 40px;
    height: 30px;
    margin-top: 17px;
    margin-left: 5px;  
    filter: invert(100%);    
  }
  #carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 20vw;
    height: 10vh;
    position: relative;
    right: 25px;
    top: 0px;
  }
  .showEmpty {
    width: 90px;
    height: 20px;        
    color: #fff;        
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
  } 
  #show-cart {
    border-right: 2px solid #fff;
  }  
  .headerCart ul li div span {
    font-size: 30px;
    position: relative;
    bottom: 5px;
    color: rgb(115, 243, 104);
  }
  #delete-cart {
    background-color: transparent;
    border: none;
  }