@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Share Tech", sans-serif !important;
  
}
body {
  overflow-x: hidden;
  max-width: 100vw !important;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Share Tech", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;   
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


form button,
form h5 {
  margin: 20px 0;
}
.post-list-management {
  margin-top: 50px;  
}
.post-list-management h2 {
  text-align: center;
}
.post-list-management a {
  color: #000 !important;
}
.material-icons:hover {
  cursor: pointer;
  color: rgb(102, 104, 1);
}
